mayia20thsoapcxf/WebContent/wsdl/add.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="AddService" targetNamespace="http://mayia20thsoapcxf/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://mayia20thsoapcxf/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xs:schema elementFormDefault="unqualified" targetNamespace="http://mayia20thsoapcxf/" version="1.0" xmlns:tns="http://mayia20thsoapcxf/" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="addition" type="tns:addition"/>

  <xs:element name="additionResponse" type="tns:additionResponse"/>

  <xs:complexType name="addition">
    <xs:sequence>
      <xs:element name="arg0" type="xs:int"/>
      <xs:element name="arg1" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="additionResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="additionResponse">
    <wsdl:part name="parameters" element="tns:additionResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addition">
    <wsdl:part name="parameters" element="tns:addition">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="Add">
    <wsdl:operation name="addition">
      <wsdl:input name="addition" message="tns:addition">
    </wsdl:input>
      <wsdl:output name="additionResponse" message="tns:additionResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AddServiceSoapBinding" type="tns:Add">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="addition">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="addition">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="additionResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AddService">
    <wsdl:port name="AddPort" binding="tns:AddServiceSoapBinding">
      <soap:address location="http://localhost:8090/mayia20thsoapcxf/services/AddPort"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
