com-soap-apache-mayia-cxf/WebContent/wsdl/hello_world_schema1.xsd

<xs:schema xmlns:tns="http://base_package/" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified" targetNamespace="http://base_package/" version="1.0">

  <xs:element name="getHello" type="tns:getHello"/>

  <xs:element name="getHelloResponse" type="tns:getHelloResponse"/>

  <xs:complexType name="getHello">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getHelloResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
